

footer{
  padding: 5em .5em;
  display: grid;
  place-items: center;
  padding-bottom: 0;
}

footer ul{
  list-style: none;
}

footer .large-text{
  font-size: clamp(2.25rem, 1.5rem + 4vw, 4.5rem);
  letter-spacing: 20px ;
  padding-top: 2em;
}

@media (max-width: 768px) {
  footer {
    padding: 3rem 0.75rem 1rem;

  }

  footer .upper-container{
    flex-direction: column;
      gap: 3em;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  footer .upper-container > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    gap: 2em;
  }

  footer .large-text {
    font-size: clamp(1.2rem, 1rem + 3vw, 2rem);
    letter-spacing: 0.1rem;
    padding-top: 1rem;
    text-align: center;
  }

  footer ul {
    padding: 0;
  }
}